{% extends 'new_base.html' %}

<!-- to include:  
  if user isn't logged in: 
  message telling them to log in to view teams
  or signup to begin creating your one-stop fan station
if user is lgged in:
favorite team logos
Recent results
Upcoming results
-->
{% block content %}

{% if user.is_authenticated %}
<div class="row">
<!-- NEEDS TO BE REFACTORED team ids no longer in "team" need to greate a list of favorites instead -->

{% for team in favorites %}
<div class="col"><p>{{ team.team.name }}</p></div>  
{% endfor %}
  
</div>  
{% else %}
<div class="container-fluid text-center" style="min-height:80vh;">
    <br>
    <h5 class="text-light px-3 background-red rounded">You're not logged, log in to add teams.</h5>
    <br>
    <p class="px-3">GameDay uses live data to show you the latest on your favorite team including upcoming games, live games, previous games, rosters, team information, and more.</p>
    <p class="px-3">Users of GameDay have access to all Premier League teams and can engage with other fans online as they follow along. Log in now for access!</p>
</div>
{% endif %}

{% endblock content %}