{% extends 'new_base.html' %}


<!-- if user is lgged in:
favorite team logos
Recent results
Upcoming results -->

{% block content %}

{% if user.is_authenticated %}
<div class="container-fluid text-center">
  <h2>Favorites</h2>
</div>
<div class="container-fluid logo-bar text-center">
  {% for team in favorites %}
  <a href="{% url 'team_detail' team.team.id %}"><image class="logo mx-1" src="{{ team.team.logo }}"></a>
    {% endfor %}
</div>
<br>
<div class="container-fluid text-center">
  <h2>Recent Results</h2>
</div>
<div class="container-fluid game-bar">
  {% for game in recents %}

  <div class="game-card mx-2 px-2 pt-2 rounded">
    <a class="text-decoration-none text-reset" href="{% url 'game_detail' game.fixture.id %}">
    <div class="score">
      <p class="fs-6">{{ game.fixture.timestamp|date:"D, F j" }}</p>
    </div>
    <div class="score">
      <img class="logo" src="{{ game.teams.home.logo }}">
      <img class="league-logo mx-2" src="{{ game.league.logo }}">
      <img class="logo" src="{{ game.teams.away.logo }}">
    </div>
    <div class="score">
      <p>{{ game.goals.home }}</p>
      <p class="fw-light fs-5">{{ game.fixture.status.short }}</p>
      <p>{{ game.goals.away }}</p>
    </div>
  </a>
  </div>
  {% endfor %}
</div>
<br>
<div class="container-fluid text-center">
  <h2>Upcoming Matches</h2>
</div>


{% else %}
<div class="container-fluid text-center" style="min-height:80vh;">
    <br>
    <h5 class="text-light px-3 background-red rounded">You're not logged, log in to add teams.</h5>
    <br>
    <p class="px-3 login-prompt">GameDay uses live data to show you the latest on your favorite team including upcoming games, live games, previous games, rosters, team information, and more.</p>
    <p class="px-3 login-prompt">Users of GameDay have access to all teams in the top 5 leagues and can engage with other fans online as they follow along. Log in now for access!</p>
</div>
{% endif %}

{% endblock content %}